@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');


body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  /*background-image: url(../assets/img/ball-park-brand-MflMvzNfdQ8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;*/
  background-color:#d6f2a6;
}

/*.overlay{
  background: #4646465f;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}*/


.joke-container{
  position: absolute;
  top: 10%;
  left:50%;
}

 .blob {
  background-image:url('../assets/svg/blob-haikei-01.svg');
  background-repeat:no-repeat;
  background-size: contain;
  padding: 70px;
  position: absolute;
  height:1000px;
  width: 1200px;
  left: 20%
}

.jokerate{
 padding:5px;
}
 
.jokerate-btn{
  display: none;
  background-color: transparent;
  border: none;
}
.jokerate-btn:hover {
  color: #282828;
  background-color: #ffdd00;
  border: solid 3px #a28d04;
}

.btn-primary{
  color:#282828;
  background-color: #cff096;
  border: 1px solid #c0df8a;
}
.btn:hover {
  color:#282828;
  background-color: #b2d07e;
  border: 1px solid #c0df8a;
}
.btn{
  border-radius: 35px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 0px 10px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.weather {
  background-color:#d6f2a6;
  margin: 20px 20px;
  padding: 25px;
}
#city-name{
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px;
}
#weather-icon{
  width: 50px;

}
#degrees{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 11px;
  border-left: #b9d28e;
  border-left-style: solid;
  border-left-width: 1px;
}

.navbar-nav{
  background-color:#c6e197;
  width: auto;
  height: 50px
}
.nav-item{
  margin-left:20px;
}