@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');


body {
  overflow-x: hidden;
  font-family: 'Space Grotesk', sans-serif;
  background-image: url(../assets/img/ball-park-brand-MflMvzNfdQ8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.overlay{
  background: #4646465f;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.joke-container{
  width: 50rem;
  min-height: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jokerate{
 visibility: hidden;
}